.search-upload-btn {
	color: red;
	background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.markdown-content table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.markdown-content th, .markdown-content td {
  border: 1px solid #dfe2e5;
  padding: 8px 12px;
}

.markdown-content th {
  background-color: #f6f8fa;
}

.markdown-content h1, .markdown-content h2 {
  border-bottom: 1px solid #eaecef;
  padding-bottom: 0.3em;
}