@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lexend:wght@100..900&display=swap');

:root {
  /* Color Palette */
  --primary-dark-gray: #1e1e1e;
  --primary-light-gray: #d1d1d1;
}

#root {
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.cited {
  color: black;
  font-family: 'Lexend', sans-serif;
  font-weight: 900;
  font-size: 300%;
  font-style: italic;
}

.app-container {
  padding: 100px;
  background-color: #f2f2f2;
  height: 100vh;
  width: 100vw;
  padding: 2rem 2rem 15rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.hero-section {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.hero {
  padding: 2rem;
}