@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lexend:wght@100..900&display=swap');

:root {
  /* Color Palette */
  --primary-dark-gray: #1e1e1e;
  --primary-light-gray: #d1d1d1;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.cited {
  color: black;
  font-family: 'Lexend', sans-serif;
  font-weight: 900;
  font-style: italic;
}